[submodule "UnityGLTF"]
	path = UnityGLTF
	url = git@github.com:KhronosGroup/UnityGLTF.git
[submodule "glTF-Test-Assets-Interactivity"]
	path = glTF-Test-Assets-Interactivity
	url = git@github.com:KhronosGroup/glTF-Test-Assets-Interactivity.git
